/*Adjustment for width discrepancy */
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html {
	background: url(../imgs/174.jpg) no-repeat center center fixed;
	/*Background courtesy of Symufa from Creative Market creativemarket.com*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
/*	Courtesy of https://css-tricks.com/perfect-full-page-background-image/
*/}

.code {
  background-color: #333333;
  color: #dddddd;
  margin-left: 5%;
  margin-right: 5%;
}

.blog-nav {
	clear: right;
	position: relative;
	top: 0;
	width: 55%;
	height: 35px;
	background-color: rgba(21, 45, 71, 0.5);
	font-size: 0.7em;
	margin-left: 15%;
}

.blog-nav ul {
	list-style-type: none;
	padding: 0px;
	text-align: center;
}

.blog-nav ul li {
	float: left;
	margin-right: 30px;
	margin-top: 10px;
	width: 15%;
	display: block;

}

.logo-header{
	position: relative;
	width: 55%; 
	height: 65px;
	margin-top: 5px;
	margin-left: 15%;
}

.logo-header img{
	z-index: 1;
	object-fit: none ;
	object-position: 85% 35%; 
	/*  Learn more about object-fit and position 
	Essentially what these two are doing are saying how the image
	should fill the logo-header div and where on an X Y coordiate should 
	the image be positioned!
	https://css-tricks.com/almanac/properties/o/object-position
	*/
	height: 100%;
	width: 100%;
	}
/*	Using CSS3 to help center and position the image so I use the same image 
but fill it into a div
http://stackoverflow.com/a/11552460 */

.logo-header h1 {
	position: relative;
	z-index: 2;
	top: -65px;
	float: right;
	font-family: 'Press Start 2P', cursive;
	font-size: 1.5em;
	text-align: center;
	color: #FAC587;
	text-shadow: 0px 3px #8D622F;
}

.wrapper {
	top: -55px;
	position: relative;
	width: 55%;
	overflow: auto;
	margin-top: 5px;
	margin-left: 15%;
	margin-right: 15%;
	background-color: rgba(213, 161, 83, 0.5);
}



.main-blog {
	float: left;
	background-color: #59879F;
	margin-right: 5px;
}

/*aside {
	width: 35%;
	float: right;
	overflow: auto;
	border-bottom: solid #6D4C1A 3px; 
}*/

article {
	width: auto;
	background-color: #FFE1B3;
	overflow: auto;
}

#post {
	overflow: auto;
	color: black;
}

article img {
	max-width:75%; 
	max-height:75%;
  	margin:auto;
  	display:block;
	padding: 5px;
}


.profile-photo  img {
	height: 35%;
	width: 65%;
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 5%;
	border: solid  10px; 
	border-color: rgba(213, 161, 83, 0.2);


}


aside .social-media ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 25px;
	width: 99%;
	border-bottom: solid #6D4C1A 3px; 
}

aside .social-media li a {
	display: block;
	text-align: center;
	color: black;
	padding: 20% 22%;
	text-decoration: none;

}
